<header class="mdc-toolbar mdc-toolbar--fixed" style="background-color: #e74f4f;">

   
  <div class="mdc-toolbar__row">
      <ul>{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
          {% if page.lang %}
            <li>
          
              <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
          {% endif %}
          {% endfor %} </ul> 
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title catalog-title">Opla.ai documentation</span>


      {{ page.lang | append: "-" | append: page.ref }}

      page ref :
       {{page.ref}}
       page plus 1 : 
       {{ page.ref |  plus: 1 }}
       page minus 1 :
       {{ page.ref |  minus: 1 }}
       {{page.lang | append: page.ref}}

      

       <a href = "{{page.lang}}{{page.ref | minus: 1}}.html"> Previous </a> <a href = "{{page.lang}}{{page.ref | plus: 1}}.html"> Next </a>
       
      

        </a>

      

     
    </section>
  </div>
</header>