<nav class="mdc-permanent-drawer">
  <div class="mdc-list-group">
    <nav class="mdc-list" style="width: 256px;">
      <a class="mdc-list-item mdc-permanent-drawer--selected" href="index.html">
        Introduction
      </a>
      <a class="mdc-list-item" href="start.html">
        Getting started
      </a>
      <a class="mdc-list-item" href="first.html">
        Your first chatbot
      </a>
      <a class="mdc-list-item" href="#">
        Glossary
      </a>
      <a class="mdc-list-item" href="#">
        Settings
      </a>
    </nav>
  </div>
</nav>