// Layout style
//

// Layout
.Layout {
  display: grid;
}

.Layout_topBarFixedAndSidebarLeftFixed {
  grid-template-columns: $sidebarWidth 1fr;
  grid-template-rows: $topAppBarHeight 1fr;
  grid-template-areas:
    "header header"
    "nav  main";
  height: 100%;

  @media screen and (max-width: $smallScreenBreakpoint) {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "main";
  }
}

// LayouItem
.LayoutItem {
  padding: $main-gutters;
}

.LayoutItem_scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  grid-area: main;
}