// Navigation sidebar style
//

.NavigationSidebar {
  grid-area: nav;
}

.NavigationSidebar-list {
  list-style-type: none;
  padding: 0 0 0 10px;
}

.NavigationSidebar-link {
  text-decoration: none;
  color: $grey-200;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: $transition-default;

  &:before {
    transition: $transition-default;
    font-family: "oplaicons";
    content: "\ea3c";
    position: absolute;
    left: -20px;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    transform: translateX(20px);

    &:before {
      opacity: 1;
    }
  }
}

.NavigationSidebar-link_isActive {
  color: $brand-secondary;
  transform: translateX(20px);

  &:before {
    opacity: 1;
  }

  &:hover {
    opacity: .7;
  }
}
