// Pagination style
//

.Pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-top: solid 1px rgba($grey-200, .5);
    padding: 15px 0;
}

.Pagination-item {
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    border-right: solid 1px rgba($grey-200, .5);

    &:last-child {
        border-right: none;
    }
}

.Pagination-item_state {
    color: $grey-200;
    font-weight: bold;
}