// Typography style
//

p {
  color: $grey-lighter;
  font-size: 15px;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-light;
  font-weight: normal;
}

h1 {
  font-size: 46px;
  font-weight: 200;
  letter-spacing: 0.4px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
}

// icon part
@font-face {
  font-family: "oplaicons";
  src: url("../fonts/oplaicons.eot?xbjp2q");
  src: url("../fonts/oplaicons.eot?xbjp2q#iefix") format("embedded-opentype"),
    url("../fonts/oplaicons.ttf?xbjp2q") format("truetype"),
    url("../fonts/oplaicons.woff?xbjp2q") format("woff"),
    url("../fonts/oplaicons.svg?xbjp2q#oplaicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
