// Variables for Opla Docs styles
//

// Fonts
$font-family-default: 'Work Sans', sans-serif;

//Colors
$brand-primary: #e74f4f;
$brand-secondary: #4F81E7;

$grey-light: #1c252c;
$grey-lighter: #4e575d;
$grey-lightest: #dcdcdd;
$white: #ffffff;