// Variables for Opla Docs styles
//

// Fonts
$font-family-default: 'Work Sans', sans-serif;

//Colors
$brand-primary: #e74f4f;
$brand-secondary: #4F81E7;

$grey-light: #1c252c;
$grey-lighter: #4e575d;
$grey-lightest: #dcdcdd;
$white: #ffffff;

//Layout
$main-gutters: 15px;

//Box shadows
$box-shadow-default: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Transitions
$transition-default: all 0.15s ease-in;