// Text relative utility classes
//

//Align
.u-textAlign_left {
    text-align: left;
}

.u-textAlign_right {
    text-align: right;
}

.u-textAlign_center {
    text-align: center;
}

// Coloration
.u-textColor_red {
    color: $red;
}
.u-textColor_orange {
    color: $orange;
}

.u-textColor_green {
    color: $green;
}

.u-textColor_blue {
    color: $blue;
}

//Highlight
.u-textHiglight_red {
    color: $red;
}
.u-textHiglight_orange {
    color: $orange;
}

.u-textHiglight_green {
    color: $green;
}

.u-textHiglight_blue {
    color: $blue;
}