<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ 'assets/images/favicon.png' | relative_url }}" rel="shortcut icon" />
    <link rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<body class="Layout Layout_topBarFixedAndSidebarLeftFixed">
  {% include header.html %}
  {% include menu.html nav=site.data.menu %}
  <main class="LayoutItem LayoutItem_scrollable">
    {{ content }}
  </main>
</body>

</html>
